# checks.d/pgbouncer.py
# Require libpq
psycopg2==2.7.1

posix_ipc==1.0.0

# checks.d/mongo.py
# checks.d/tokumx.py
# Require a compiler
# TODO: our checks are not compatible with 3.x
pymongo==2.8

# checks.d/mysql.py
pymysql==0.6.6

