# used by all sdchecks core files
future==0.17.1

# used by sdchecks.py
posix_ipc==1.0.0

# needed for sdchecks.py and config.py
pyyaml==5.1

# checks.d/mcache.py
python-memcached==1.59

# checks.d/php-fpm.py
flup-py3==1.0.3

pyopenssl==19.0.0

# checks.d/postgres.py
# checks.d/pgbouncer.py
# Require libpq
psycopg2==2.7.3.2

# checks.d/mysql.py
pymysql==0.9.3